<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JobBoard API</title>
</head>
<body>
    <h1>JobBoard API</h1>
    <p>JobBoard API is a RESTful API that allows you to create, read, update and delete job postings.</p>
    <p>It is built using the Django REST framework and uses SQLite as the database.</p>
    <p>It is a simple API that is designed to be used as a learning resource for those who are new to RESTful APIs.</p>
    <p>It is also a good starting point for those who are new to the Django REST framework.</p>
    <p>It is a work in progress and will be updated regularly.</p>
    <p>It is open source and can be found on GitHub.</p>
    <p>It is free to use and modify as you see fit.</p>
    <p>It is a good starting point for those who are new to RESTful APIs.</p>
</body>
</html>